In [6]:
%load_ext autoreload
%autoreload 2

In [7]:
import os
import numpy as np
import pandas as pd

In [13]:
path = os.getcwd()
path

'C:\\Users\\Fadil\\Desktop\\Automation\\columns'

## Modules

In [8]:
#Generate Random Column Size Changes

def gen_update_file(columns_df, n_ids, new_size, export_csv=False, seed=None):
    if seed is not None:
        np.random.seed(seed)

    n_ids = min(int(n_ids), len(columns_df))
    selected_ids = np.random.choice(columns_df["column_id"].values, size=n_ids, replace=False)

    updates_df = pd.DataFrame({"column_id": selected_ids, "size": new_size})

    if export_csv:
        out_path = os.path.join(os.getcwd(), "change_columns.csv")
        updates_df.to_csv(out_path, index=False)
        print(f"wrote: {out_path}")  # so you can see exactly where it went
        return None  # prevents Jupyter from showing a df as output

    return updates_df

## Populate [column_id]

In [9]:
columns = pd.read_csv("main_columns.csv")

In [10]:
columns["column_id"] = (
    columns["alpha_grid"].astype(str)
    + columns["numeric_grid"].astype(str)
    + "-"
    + columns["base_level"].astype(str)
    + columns["top_level"].astype(str)
)
columns

    column_id  base_level  top_level alpha_grid  numeric_grid        size
0       A1-01           0          1          A             1  rc_500x500
1       A2-01           0          1          A             2  rc_500x500
2       A3-01           0          1          A             3  rc_500x500
3       A4-01           0          1          A             4  rc_500x500
4       A5-01           0          1          A             5  rc_500x500
..        ...         ...        ...        ...           ...         ...
265     F1-89           8          9          F             1  rc_500x500
266     F2-89           8          9          F             2  rc_500x500
267     F3-89           8          9          F             3  rc_500x500
268     F4-89           8          9          F             4  rc_500x500
269     F5-89           8          9          F             5  rc_500x500

[270 rows x 6 columns]

In [16]:
output_path = path + "/columns.csv"
columns.to_csv(output_path, index=False)

In [80]:
col = columns[["column_id","size"]]
col

    column_id        size
0       A1-01  rc_500x500
1       A2-01  rc_500x500
2       A3-01  rc_500x500
3       A4-01  rc_500x500
4       A5-01  rc_500x500
..        ...         ...
265     F1-89  rc_500x500
266     F2-89  rc_500x500
267     F3-89  rc_500x500
268     F4-89  rc_500x500
269     F5-89  rc_500x500

[270 rows x 2 columns]

In [81]:
gen_update_file(col,20,"rc_400x400",True)

wrote: C:\Users\Fadil\Desktop\Automation\columns\change_columns.csv

In [82]:
updates = pd.read_csv("change_columns.csv")

## Update Main

In [83]:

# set index for alignment
col = col.set_index("column_id")
updates = updates.set_index("column_id")

# overwrite sizes where an update exists
col.update(updates)

# restore index
col = col.reset_index()

In [84]:
col

    column_id        size
0       A1-01  rc_500x500
1       A2-01  rc_500x500
2       A3-01  rc_500x500
3       A4-01  rc_500x500
4       A5-01  rc_500x500
..        ...         ...
265     F1-89  rc_500x500
266     F2-89  rc_500x500
267     F3-89  rc_500x500
268     F4-89  rc_400x400
269     F5-89  rc_500x500

[270 rows x 2 columns]